body{
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15pt;
    background-color: #e2e2e2;
    min-height: : 100%;
}

h1{
    font-size: 2em;
    text-align: center;
    line-height: 2;
}

h2{
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
}

header{
    background: #e2e2e2;
    border-bottom: 1px white;
    display:flex;
    justify-content: space-between;

}
.name_title {
    font-size: 1;
    order: 1;
}

.active-page{
    background-color: #e2e2e2;
    text-transform: uppercase;
    color: #e5b25d;
}

.sidenav{
    height: 100%;
    width: 200px
    position: fixed;
    z-index: 1;
    top: 0
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding: top 60px;
    order: -1;
    order: -1;
    align-items:flex-end;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #e2e2e2;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
    text-transform: uppercase;
  }
  
  .sidenav a:active {
    color: #f1f1f1;
    text-transform: uppercase;
  }
  
  .main {
    transition: margin-left .5s;
    padding: 16px;
  }
  a.skip{
    background: white;
    right: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
  a.skip:focus{
    top:20px;
    color: #e5b25d;
    text-decoration-style: solid;
  }
  
  /* Home Page */
  .card_contain {
    display: grid;
    grid-template-columns: 4fr 1.5fr 3fr 1fr .5fr;
    grid-template-rows: 1% auto auto auto auto;
    grid-row-gap: 15px;
  }
  .hi {
    text-align: left;
    grid-column: 2 / span 1;
    grid-row: 6 / span 1;
  }
  
  .welcome {
    text-align: right;
    grid-column: 2 / span 1;
    grid-row: 9 / span 2;
    font-size: smaller;
  }
  
  .headshot {
    grid-column: center;
    grid-row: center;
    width: fit-content;
    height: auto;
    padding: 2em;
  }
  .welcome {
    text-align: right;
    grid-column: 2 / span 1;
    grid-row: 9 / span 2;
    font-size: smaller;
  }
  
  .picture {
    grid-column: 2 / span 1;
    grid-row: 7 / span 2;
    width: fit-content;
    height: auto;
    padding: 2em;
  }
  
  /* About Page */
  .about_contain {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .about_stretch {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .about_text_stretch {
    max-width: 400px;
  }

.about_title {
  font-size: 2em;
}