body{
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15pt;
    background-color: #e2e2e2;
    min-height: : 100%;
}

h1{
    font-size: 2em;
    text-align: center;
    line-height: 2;
}

h2{
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
}

header{
    background: #fff;
    border-bottom: 2px solid black;
    display:flex;
    justify-content: space-between;

}
.name_title {
    font-size: 1;
    order: 1;
}

.active-page{
    background-color: #e2e2e2;
    text-transform: uppercase;
    color: black;
}

.sidenav{
    height: 100%;
    width: 200px
    posotion fixed;
    z-index: 1;
    top: 0
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding: top 60px;
    order: -1;
    order: -1;
    align-items:flex-end;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
    text-transform: uppercase;
  }
  
  .sidenav a:active {
    color: #f1f1f1;
    text-transform: uppercase;
  }
  
  .main {
    transition: margin-left .5s;
    padding: 16px;
  }
  