body{
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    font-size: 15pt;
    background-color: #f0f0f0;
    min-height: 100%;
}

h1{
    font-size: 2em;
    text-align: center;
    line-height: 2;
}

h2{
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
}

b{
  font-family: 'Playfair Display', sans-serif;
  color: black;
  font-size: large;
}

p {
  padding: 0 30px;
  font-family: 'Playfair Display', serif;
}
header{
    background: #f0f0f0;
    display:flex;
    justify-content: space-between;

}
.full_name{
    font-size: 1em;
    order: 1;
}

.active-page{
    background-color: #f0f0f0;
    text-transform: uppercase;
    color:black;
}

.sidenav{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f0f0f0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    order: -1;
    align-items:flex-end;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: black;
    text-transform: uppercase;
  }
  
  .sidenav a:active {
    columns: #f0f0f0;
    text-transform: uppercase;
  }
  
  .main {
    transition: margin-left .5s;
    padding: 16px;
  }

  a.skip{
    background: #f0f0f0;
    right: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
  a.skip:focus{
    top:20px;
    color: #f0f0f0;
    text-decoration-style: solid;
  }
  
  /* Home Page */
  .introduction_contain {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .welcome_stretch {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .welcome_text_stretch{
    max-width: 500px;
  }
  
  .headshot {
    max-width: : 100%;
    height: 400;
    width: 400;
    margin-top: 1em;
    align-self: center;
  }

  /* About Page */
  .about_contain {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .emmie_wells {
    max-width: : 100%;
    height: 400;
    width: 400;
    margin-top: 1em;
    align-self: center;
  }
  
  .about_stretch {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .about_text_stretch {
    max-width: 500px;
  }

.about_title {
  font-size: 2em;
}
/* Media page */
@media screen and (min-width: 1000px){
 
  .grid_container{

    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(12, 5vw);
    grid-gap: 15px;
      }
.grid_container img {  
  width: 100%;
  height: 100%;
  object-fit: cover;}

  .grid_butterflies {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 6;
  }
  .grid_michigan{
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 9;
  grid-row-end: 12;
  }
  .grid_ross{
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
  }
  .grid_angell_1{
  grid-column-start: 9;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 6;
  }
  .grid_quote{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 12;
  }
  .grid_squirrel{
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
  }
  .grid_hill{
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 6;
    grid-row-end: 9;
  }
  .grid_summer{
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 9;
    grid-row-end: 12;
  }
  .grid_angell_2{
    grid-column-start: 12;
    grid-column-end: 14;
    grid-row-start: 1;
    grid-row-end: 12;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 5vw);
    grid-gap: 10px;
      }
  .container img {  
    width: 100%;
    height: 100%;
    object-fit: cover;}

  /* Resume Page */
  .resume_contain {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 3fr 3fr 1fr;
    grid-template-rows: 1% auto auto auto auto auto auto auto auto auto auto 6%;
    grid-row-gap: 15px;
  }
  
  .resume_title {
    text-align: left;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    font-size: 2em;
  }
  
  .education_subtitle {
    text-align: left;
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    font-size: 1.5em;
  }
  
  .education_information {
    color:black;
    text-align: left;
    grid-column: 2 / span 3;
    grid-row: 4 / span 1;
    font-size: 1em;
    margin-bottom: 4%;
    font-family: 'Playfair Display', sans-serif;
  }
  
  .skills_subtitle {
    text-align: left;
    grid-column: 2 / span 1;
    grid-row: 5 / span 1;
    font-size: 1.5em;
  }
  
  .skills_information {
    color:black;
    text-align: left;
    grid-column: 2 / span 3;
    grid-row: 6 / span 1;
    font-size: 1em;
    margin-bottom: 4%;
    font-family: 'Playfair Display', sans-serif;
  }
  
  .experience_subtitle {
    text-align: left;
    grid-column: 2 / span 1;
    grid-row: 7 / span 1;
    font-size: 1.5em;
  }
  
  .experience_information {
    color:black;
    text-align: left;
    grid-column: 2 / span 3;
    grid-row: 8 / span 1;
    font-size: 1em;
    margin-bottom: 4%;
    font-family: 'Playfair Display', sans-serif;
  }
  
  .involvement_subtitle {
    text-align: left;
    grid-column: 2 / span 1;
    grid-row: 9 / span 1;
    font-size: 1.5em;
  }
  
  .involvement_information {
    color:black;
    text-align: left;
    grid-column: 2 / span 3;
    grid-row: 10 / span 1;
    font-size: 1em;
    margin-bottom: 2%;
    font-family: 'Playfair Display', sans-serif;
  }
  
/* Contact page */

.contact_photo {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-left: 10%;
  margin-right: 10%;
  max-width: 70%;
  height: 400;
  width: 400;
}
footer{
  background-color: #f0f0f0;
  color: black;
  padding: 20px;
  text-align: center;
  font-size: 15px;
}
.fixed {
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;
}

@media screen and (min-width: 1000px){
  
  /* Navbar */

  .headshot {
    width: 400;
    height: 400;
    margin-top: 1;
  }
  .welcome_stretch {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .welcome_text_stretch {
    max-width: 350px;
  }
  
  .resume_contain {
    display: grid;
    grid-template-columns: 5vw auto auto 10px;
    grid-template-rows: 1% auto auto auto auto auto auto auto auto auto auto 6%;
    grid-row-gap: 15px;
  }

  .education_subtitle {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
    font-size: 1.5em;
    margin-right: auto;
    padding-left: 10vw;
  }
  .education_information {
    color: black;
    text-align: left;
    grid-column: 3 / span 3;
    grid-row: 4 / span 1;
    font-size: 1em;
    margin-bottom: 4%;
    padding-left: 10vw;
  }
  
  .skills_subtitle {
    text-align: left;
    grid-column: 4 / span 1;
    grid-row: 3 / span 1;
    font-size: 1.5em;
    padding-left: 40vw;
  }
  
  .skills_information {
    color: black;
    text-align: left;
    grid-column: 4 / span 3;
    grid-row: 4 / span 1;
    font-size: 1em;
    margin-bottom: 4%;
    margin-right: 20%;
    padding-left: 40vw;
  }
  .experience_subtitle {
    text-align: left;
    grid-column: 3 / span 1;
    grid-row: 7 / span 1;
    font-size: 1.5em;
    padding-left: 10vw;
  }
  
  .experience_information {
    color: black;
    text-align: left;
    grid-column: 3 / span 3;
    grid-row: 8 / span 1;
    font-size: 1em;
    margin-bottom: 4%;
    padding-left: 10vw;
  }
  
  .involvement_subtitle {
    text-align: left;
    grid-column: 4 / span 1;
    grid-row: 7 / span 1;
    font-size: 1.5em;
    padding-left: 40vw;
  }
  
  .involvement_information {
    color: black;
    text-align: left;
    grid-column: 4 / span 3;
    grid-row: 8 / span 1;
    font-size: 1em;
    margin-bottom: 2%;
    margin-right: 20%;
    padding-left: 40vw;
  }

/* About page */
.about_contain {
  display: flex;
  align-content: center;
  align-items: center;
}

.about_stretch {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about_text_stretch {
  max-width: 350px;
}

.emmie_wells {
  max-width: 100%;
  height: auto;
  margin-top: 1em;
}

.about_title {
  font-size: 2em;
}

.page_footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;
}
/* Media Page */
@media only screen and (max-width: 500px;) {

  .grid_container{
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(12, 5vw);
    grid-gap: 15px;
      }
.grid_container img {  
  width: 100%;
  height: 100%;
  object-fit: cover;}

  .grid_butterflies{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 6;
  }
  .grid_michigan{
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 9;
  grid-row-end: 12;
  }
  .grid_ross{
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
  }
  .grid_angell_1{
  grid-column-start: 9;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 6;
  }
  .grid_quote{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 12;
  }
  .grid_squirrel{
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
  }
  .grid_hill{
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 6;
    grid-row-end: 9;
  }
  .grid_summer{
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 9;
    grid-row-end: 12;
  }
  .grid_angell_2{
    grid-column-start: 12;
    grid-column-end: 14;
    grid-row-start: 1;
    grid-row-end: 12;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 5vw);
    grid-gap: 10px; 
      }

/*@media print { 
  .card {
    flex-basis: 200px;
  }
  /*Your code here again.*/
  /*You will want four selectors*/  
  /*body{
    background-image: none;
  }
  
  .pricing{
    align-items: flex-start;
    flex-direction: row;
  }
  .gallery {
    display: none;
  }
  
  #gallery {
    display: none;
  }
}
/*Your code here again.*/ 
/*Add media query to handle reduced-motion*/
@media screen and (prefers-reduced-motion: reduce) {
  #logo{
    /*Your code here.*/
    animation: none;
}
}

